name = "skyroute-enterprise"
main = "worker/index.js"
compatibility_date = "2024-01-01"

[vars]
FRONTEND_URL = "https://pilot.mingleedan.org"

[build]
command = "npm install"

[build.upload]
format = "modules"

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true
